*.suo
obj2string/build/
tests/build/
ipch/
*.pyd
*.dll
*.pyc
bin/
*.pdb
*.db
scenes/
*.opendb
.vs/
tests/collision_graph.mtl
tests/collision_graph.obj
build/
data/
TilingAutoencoder.includes
TilingAutoencoder.files
TilingAutoencoder.creator
TilingAutoencoder.config
TilingAutoencoder.creator.user
TilingAutoencoder-Debug.includes
TilingAutoencoder-Debug.files
TilingAutoencoder-Debug.creator
TilingAutoencoder-Debug.config
TilingAutoencoder-Debug.creator.user
build-debug/
build-release/
.vscode/
*coll_graph.mtl
*coll_graph.obj
